html,body { 
	background: #000000; 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	overflow: hidden
}

canvas { 
	font-family: 'Roboto Mono', monospace;
	font-size: 100%;
	position: absolute; 
	top: 0; 
	left: 0; 
	border-color: black;
	outline: none;
	-webkit-text-size-adjust: none; 
}
